ul li{
    list-style-type: none;
}
ul{
    padding: 0;
}
li{
    font-size: 25px;
    border: 1px solid black;
    padding: 5px 35px;
}
.email-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
li:nth-child(2n+1){
    background-color: #FFC5C5;
}
li:nth-child(2n){
    background-color: #87CEEB;
}
h1{
    text-align: center;
    margin: 50px 0;

}
.btn{
    text-align: center;
    margin-top: 25px;
}